#bangtai {
    position: absolute;
    left: 36px;
    top: 333px;
    width: 551px;
    height: 78px;
}

#maybom {
    position: absolute;
    left: 392px;
    top: 20px;
    width: 155px;
    height: 204px;
}

#van {
    position: absolute;
    left: 380px;
    top: 126px;
    width: 81px;
    height: 160px;
}

#bia {
    position: absolute;
    left: 91px;
    top: 275px;
    width: 30px;
    height: 88px;
}